<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Actividades DCC{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <h1>Actividades DCC</h1>
      <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('registrar') }}">Registrar miembro y actividades</a>
        <a href="{{ url_for('miembros') }}">Listado de miembros</a>
        <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <section class="box ok-box">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </section>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
